apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "gitlab.name" . }}-config-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: aws-efs
  nfs:
    server: {{ .Values.storage.efs_hostname }}
    path: "/ops/{{ template "gitlab.name" . }}/config"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "gitlab.name" . }}-logs-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: aws-efs
  nfs:
    server: {{ .Values.storage.efs_hostname }}
    path: "/ops/{{ template "gitlab.name" . }}/logs"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "gitlab.name" . }}-data-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: aws-efs
  nfs:
    server: {{ .Values.storage.efs_hostname }}
    path: "/ops/{{ template "gitlab.name" . }}/data"
       
